@font-face {
  font-family: "s24-icons";
  src: url('s24-icons.eot?t=1669361161905'); /* IE9*/
  src: url('s24-icons.eot?t=1669361161905#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("s24-icons.woff2?t=1669361161905") format("woff2"),
  url("s24-icons.woff?t=1669361161905") format("woff"),
  url('s24-icons.ttf?t=1669361161905') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('s24-icons.svg?t=1669361161905#s24-icons') format('svg'); /* iOS 4.1- */
}

[class^="s24-icons-"], [class*=" s24-icons-"] {
  font-family: 's24-icons' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.s24-icons-electronic_cash_16_filled:before { content: "\ea01"; }
.s24-icons-electronic_cash_24_filled:before { content: "\ea02"; }
.s24-icons-electronic_cash_48_filled:before { content: "\ea03"; }
.s24-icons-facebook_16:before { content: "\ea04"; }
.s24-icons-facebook_16_filled:before { content: "\ea05"; }
.s24-icons-facebook_24:before { content: "\ea06"; }
.s24-icons-facebook_24_filled:before { content: "\ea07"; }
.s24-icons-facebook_48:before { content: "\ea08"; }
.s24-icons-facebook_48_filled:before { content: "\ea09"; }
.s24-icons-instagram_16:before { content: "\ea0a"; }
.s24-icons-instagram_16_filled:before { content: "\ea0b"; }
.s24-icons-instagram_24:before { content: "\ea0c"; }
.s24-icons-instagram_24_filled:before { content: "\ea0d"; }
.s24-icons-instagram_48:before { content: "\ea0e"; }
.s24-icons-instagram_48_filled:before { content: "\ea0f"; }
.s24-icons-linkedin_16:before { content: "\ea10"; }
.s24-icons-linkedin_16_filled:before { content: "\ea11"; }
.s24-icons-linkedin_24:before { content: "\ea12"; }
.s24-icons-linkedin_24_filled:before { content: "\ea13"; }
.s24-icons-linkedin_48:before { content: "\ea14"; }
.s24-icons-linkedin_48_filled:before { content: "\ea15"; }
.s24-icons-paypal_16:before { content: "\ea16"; }
.s24-icons-paypal_24:before { content: "\ea17"; }
.s24-icons-paypal_48:before { content: "\ea18"; }
.s24-icons-rss_16:before { content: "\ea19"; }
.s24-icons-rss_16_filled:before { content: "\ea1a"; }
.s24-icons-rss_24:before { content: "\ea1b"; }
.s24-icons-rss_24_filled:before { content: "\ea1c"; }
.s24-icons-rss_48:before { content: "\ea1d"; }
.s24-icons-rss_48_filled:before { content: "\ea1e"; }
.s24-icons-s24_360_degree_24:before { content: "\ea1f"; }
.s24-icons-s24_360_degree_48:before { content: "\ea20"; }
.s24-icons-s24_alert_circle_24:before { content: "\ea21"; }
.s24-icons-s24_alert_circle_24_filled:before { content: "\ea22"; }
.s24-icons-s24_alert_circle_48:before { content: "\ea23"; }
.s24-icons-s24_alert_shield_24:before { content: "\ea24"; }
.s24-icons-s24_alert_shield_24_filled:before { content: "\ea25"; }
.s24-icons-s24_alert_shield_48:before { content: "\ea26"; }
.s24-icons-s24_alert_triangle_24:before { content: "\ea27"; }
.s24-icons-s24_alert_triangle_24_filled:before { content: "\ea28"; }
.s24-icons-s24_alert_triangle_48:before { content: "\ea29"; }
.s24-icons-s24_antenna_24:before { content: "\ea2a"; }
.s24-icons-s24_antenna_48:before { content: "\ea2b"; }
.s24-icons-s24_application_documents_24:before { content: "\ea2c"; }
.s24-icons-s24_application_documents_48:before { content: "\ea2d"; }
.s24-icons-s24_archive_24:before { content: "\ea2e"; }
.s24-icons-s24_archive_24_filled:before { content: "\ea2f"; }
.s24-icons-s24_archive_48:before { content: "\ea30"; }
.s24-icons-s24_arrow_down_24:before { content: "\ea31"; }
.s24-icons-s24_arrow_down_48:before { content: "\ea32"; }
.s24-icons-s24_arrow_down_box_24:before { content: "\ea33"; }
.s24-icons-s24_arrow_down_box_48:before { content: "\ea34"; }
.s24-icons-s24_arrow_left_24:before { content: "\ea35"; }
.s24-icons-s24_arrow_left_48:before { content: "\ea36"; }
.s24-icons-s24_arrow_navigation_24:before { content: "\ea37"; }
.s24-icons-s24_arrow_navigation_48:before { content: "\ea38"; }
.s24-icons-s24_arrow_opposite_24:before { content: "\ea39"; }
.s24-icons-s24_arrow_opposite_48:before { content: "\ea3a"; }
.s24-icons-s24_arrow_right_24:before { content: "\ea3b"; }
.s24-icons-s24_arrow_right_48:before { content: "\ea3c"; }
.s24-icons-s24_arrow_up_24:before { content: "\ea3d"; }
.s24-icons-s24_arrow_up_48:before { content: "\ea3e"; }
.s24-icons-s24_arrow_up_box_24:before { content: "\ea3f"; }
.s24-icons-s24_arrow_up_box_48:before { content: "\ea40"; }
.s24-icons-s24_arrow_up_line_24:before { content: "\ea41"; }
.s24-icons-s24_arrow_up_line_48:before { content: "\ea42"; }
.s24-icons-s24_arrow_zigzag_24:before { content: "\ea43"; }
.s24-icons-s24_arrow_zigzag_48:before { content: "\ea44"; }
.s24-icons-s24_arrows_cycle_24:before { content: "\ea45"; }
.s24-icons-s24_arrows_cycle_48:before { content: "\ea46"; }
.s24-icons-s24_arrows_shuffle_24:before { content: "\ea47"; }
.s24-icons-s24_arrows_shuffle_48:before { content: "\ea48"; }
.s24-icons-s24_arrows_up_down_24:before { content: "\ea49"; }
.s24-icons-s24_arrows_up_down_48:before { content: "\ea4a"; }
.s24-icons-s24_attic_24:before { content: "\ea4b"; }
.s24-icons-s24_attic_48:before { content: "\ea4c"; }
.s24-icons-s24_award_24:before { content: "\ea4d"; }
.s24-icons-s24_award_48:before { content: "\ea4e"; }
.s24-icons-s24_badge_24:before { content: "\ea4f"; }
.s24-icons-s24_badge_48:before { content: "\ea50"; }
.s24-icons-s24_bag_24:before { content: "\ea51"; }
.s24-icons-s24_baggage_24:before { content: "\ea52"; }
.s24-icons-s24_baggage_48:before { content: "\ea53"; }
.s24-icons-s24_bakeries_24:before { content: "\ea54"; }
.s24-icons-s24_bakeries_48:before { content: "\ea55"; }
.s24-icons-s24_balcony_24:before { content: "\ea56"; }
.s24-icons-s24_balcony_24_filled:before { content: "\ea57"; }
.s24-icons-s24_balcony_48:before { content: "\ea58"; }
.s24-icons-s24_ballpoint_pen_24:before { content: "\ea59"; }
.s24-icons-s24_ballpoint_pen_48:before { content: "\ea5a"; }
.s24-icons-s24_banknote_24:before { content: "\ea5b"; }
.s24-icons-s24_banknote_24_filled:before { content: "\ea5c"; }
.s24-icons-s24_banknote_48:before { content: "\ea5d"; }
.s24-icons-s24_bar_24:before { content: "\ea5e"; }
.s24-icons-s24_bar_48:before { content: "\ea5f"; }
.s24-icons-s24_barrier_24:before { content: "\ea60"; }
.s24-icons-s24_barrier_48:before { content: "\ea61"; }
.s24-icons-s24_basement_24:before { content: "\ea62"; }
.s24-icons-s24_basement_48:before { content: "\ea63"; }
.s24-icons-s24_bell_24:before { content: "\ea64"; }
.s24-icons-s24_bell_24_filled:before { content: "\ea65"; }
.s24-icons-s24_bell_48:before { content: "\ea66"; }
.s24-icons-s24_bicycle_24:before { content: "\ea67"; }
.s24-icons-s24_bicycle_48:before { content: "\ea68"; }
.s24-icons-s24_bin_24:before { content: "\ea69"; }
.s24-icons-s24_bin_24_filled:before { content: "\ea6a"; }
.s24-icons-s24_bin_48:before { content: "\ea6b"; }
.s24-icons-s24_board_sign_24:before { content: "\ea6c"; }
.s24-icons-s24_board_sign_24_filled:before { content: "\ea6d"; }
.s24-icons-s24_board_sign_48:before { content: "\ea6e"; }
.s24-icons-s24_book_24:before { content: "\ea6f"; }
.s24-icons-s24_book_48:before { content: "\ea70"; }
.s24-icons-s24_book_euro_24:before { content: "\ea71"; }
.s24-icons-s24_book_euro_48:before { content: "\ea72"; }
.s24-icons-s24_booklet_24:before { content: "\ea73"; }
.s24-icons-s24_booklet_48:before { content: "\ea74"; }
.s24-icons-s24_booklet_folder_24:before { content: "\ea75"; }
.s24-icons-s24_booklet_folder_24_filled:before { content: "\ea76"; }
.s24-icons-s24_booklet_folder_48:before { content: "\ea77"; }
.s24-icons-s24_bookmark_24:before { content: "\ea78"; }
.s24-icons-s24_bookmark_24_filled:before { content: "\ea79"; }
.s24-icons-s24_bookmark_48:before { content: "\ea7a"; }
.s24-icons-s24_brakes_24:before { content: "\ea7b"; }
.s24-icons-s24_brakes_48:before { content: "\ea7c"; }
.s24-icons-s24_building_1_24:before { content: "\ea7d"; }
.s24-icons-s24_building_1_24_filled:before { content: "\ea7e"; }
.s24-icons-s24_building_1_48:before { content: "\ea7f"; }
.s24-icons-s24_building_2_24:before { content: "\ea80"; }
.s24-icons-s24_building_2_48:before { content: "\ea81"; }
.s24-icons-s24_building_3_24:before { content: "\ea82"; }
.s24-icons-s24_building_3_48:before { content: "\ea83"; }
.s24-icons-s24_building_4_24:before { content: "\ea84"; }
.s24-icons-s24_building_4_48:before { content: "\ea85"; }
.s24-icons-s24_building_5_24:before { content: "\ea86"; }
.s24-icons-s24_building_5_48:before { content: "\ea87"; }
.s24-icons-s24_building_6_24:before { content: "\ea88"; }
.s24-icons-s24_building_6_48:before { content: "\ea89"; }
.s24-icons-s24_building_bungalow_24:before { content: "\ea8a"; }
.s24-icons-s24_building_bungalow_48:before { content: "\ea8b"; }
.s24-icons-s24_building_euro_24:before { content: "\ea8c"; }
.s24-icons-s24_building_euro_48:before { content: "\ea8d"; }
.s24-icons-s24_building_internet_24:before { content: "\ea8e"; }
.s24-icons-s24_building_internet_48:before { content: "\ea8f"; }
.s24-icons-s24_building_magnifier_24:before { content: "\ea90"; }
.s24-icons-s24_building_magnifier_48:before { content: "\ea91"; }
.s24-icons-s24_building_percent_24:before { content: "\ea92"; }
.s24-icons-s24_building_percent_48:before { content: "\ea93"; }
.s24-icons-s24_building_semi_detached_house_24:before { content: "\ea94"; }
.s24-icons-s24_building_semi_detached_house_48:before { content: "\ea95"; }
.s24-icons-s24_building_shop_24:before { content: "\ea96"; }
.s24-icons-s24_building_shop_24_filled:before { content: "\ea97"; }
.s24-icons-s24_building_shop_48:before { content: "\ea98"; }
.s24-icons-s24_building_single_family_house_24:before { content: "\ea99"; }
.s24-icons-s24_building_single_family_house_48:before { content: "\ea9a"; }
.s24-icons-s24_building_star_24:before { content: "\ea9b"; }
.s24-icons-s24_building_star_24_filled:before { content: "\ea9c"; }
.s24-icons-s24_building_star_48:before { content: "\ea9d"; }
.s24-icons-s24_building_two_family_house_24:before { content: "\ea9e"; }
.s24-icons-s24_building_two_family_house_48:before { content: "\ea9f"; }
.s24-icons-s24_bullet_point_24:before { content: "\eaa0"; }
.s24-icons-s24_bus_24:before { content: "\eaa1"; }
.s24-icons-s24_bus_48:before { content: "\eaa2"; }
.s24-icons-s24_calculator_24:before { content: "\eaa3"; }
.s24-icons-s24_calculator_24_filled:before { content: "\eaa4"; }
.s24-icons-s24_calculator_48:before { content: "\eaa5"; }
.s24-icons-s24_calendar_24:before { content: "\eaa6"; }
.s24-icons-s24_calendar_48:before { content: "\eaa7"; }
.s24-icons-s24_calendar_car_24:before { content: "\eaa8"; }
.s24-icons-s24_calendar_car_48:before { content: "\eaa9"; }
.s24-icons-s24_calendar_checkmark_24:before { content: "\eaaa"; }
.s24-icons-s24_calendar_checkmark_48:before { content: "\eaab"; }
.s24-icons-s24_calendar_cross_24:before { content: "\eaac"; }
.s24-icons-s24_calendar_cross_48:before { content: "\eaad"; }
.s24-icons-s24_calendar_user_24:before { content: "\eaae"; }
.s24-icons-s24_calendar_user_48:before { content: "\eaaf"; }
.s24-icons-s24_camera_24:before { content: "\eab0"; }
.s24-icons-s24_camera_48:before { content: "\eab1"; }
.s24-icons-s24_camera_flash_24:before { content: "\eab2"; }
.s24-icons-s24_camera_flash_48:before { content: "\eab3"; }
.s24-icons-s24_camera_video_24:before { content: "\eab4"; }
.s24-icons-s24_camera_video_48:before { content: "\eab5"; }
.s24-icons-s24_car_front_24:before { content: "\eab6"; }
.s24-icons-s24_car_front_48:before { content: "\eab7"; }
.s24-icons-s24_car_heart_24:before { content: "\eab8"; }
.s24-icons-s24_car_heart_48:before { content: "\eab9"; }
.s24-icons-s24_car_repair_24:before { content: "\eaba"; }
.s24-icons-s24_car_repair_48:before { content: "\eabb"; }
.s24-icons-s24_car_side_24:before { content: "\eabc"; }
.s24-icons-s24_car_side_48:before { content: "\eabd"; }
.s24-icons-s24_cat_48:before { content: "\eabe"; }
.s24-icons-s24_chair_24:before { content: "\eabf"; }
.s24-icons-s24_chair_48:before { content: "\eac0"; }
.s24-icons-s24_chart_24:before { content: "\eac1"; }
.s24-icons-s24_chart_48:before { content: "\eac2"; }
.s24-icons-s24_chart_bars_horizontal_24:before { content: "\eac3"; }
.s24-icons-s24_chart_bars_horizontal_48:before { content: "\eac4"; }
.s24-icons-s24_chart_bars_vertical_24:before { content: "\eac5"; }
.s24-icons-s24_chart_bars_vertical_48:before { content: "\eac6"; }
.s24-icons-s24_chat_bubble_1_24:before { content: "\eac7"; }
.s24-icons-s24_chat_bubble_1_48:before { content: "\eac8"; }
.s24-icons-s24_chat_bubble_2_24:before { content: "\eac9"; }
.s24-icons-s24_chat_bubble_2_48:before { content: "\eaca"; }
.s24-icons-s24_chat_bubble_3_24:before { content: "\eacb"; }
.s24-icons-s24_chat_bubble_3_24_filled:before { content: "\eacc"; }
.s24-icons-s24_chat_bubble_3_48:before { content: "\eacd"; }
.s24-icons-s24_chat_clock_24:before { content: "\eace"; }
.s24-icons-s24_chat_clock_48:before { content: "\eacf"; }
.s24-icons-s24_chat_exclamation_mark_24:before { content: "\ead0"; }
.s24-icons-s24_chat_exclamation_mark_48:before { content: "\ead1"; }
.s24-icons-s24_chat_question_mark_24:before { content: "\ead2"; }
.s24-icons-s24_chat_question_mark_48:before { content: "\ead3"; }
.s24-icons-s24_checkmark_24:before { content: "\ead4"; }
.s24-icons-s24_checkmark_48:before { content: "\ead5"; }
.s24-icons-s24_checkmark_circle_24:before { content: "\ead6"; }
.s24-icons-s24_checkmark_circle_24_filled:before { content: "\ead7"; }
.s24-icons-s24_checkmark_circle_48:before { content: "\ead8"; }
.s24-icons-s24_checkmark_circle_48_filled:before { content: "\ead9"; }
.s24-icons-s24_chevron_down_24:before { content: "\eada"; }
.s24-icons-s24_chevron_down_48:before { content: "\eadb"; }
.s24-icons-s24_chevron_left_24:before { content: "\eadc"; }
.s24-icons-s24_chevron_left_48:before { content: "\eadd"; }
.s24-icons-s24_chevron_right_24:before { content: "\eade"; }
.s24-icons-s24_chevron_right_48:before { content: "\eadf"; }
.s24-icons-s24_chevron_up_24:before { content: "\eae0"; }
.s24-icons-s24_chevron_up_48:before { content: "\eae1"; }
.s24-icons-s24_chevron_up_down_24:before { content: "\eae2"; }
.s24-icons-s24_chevron_up_down_48:before { content: "\eae3"; }
.s24-icons-s24_city_24:before { content: "\eae4"; }
.s24-icons-s24_city_48:before { content: "\eae5"; }
.s24-icons-s24_clipboard_check_24:before { content: "\eae6"; }
.s24-icons-s24_clipboard_check_24_filled:before { content: "\eae7"; }
.s24-icons-s24_clipboard_check_48:before { content: "\eae8"; }
.s24-icons-s24_clock_24:before { content: "\eae9"; }
.s24-icons-s24_clock_24_filled:before { content: "\eaea"; }
.s24-icons-s24_clock_48:before { content: "\eaeb"; }
.s24-icons-s24_clock_half_24:before { content: "\eaec"; }
.s24-icons-s24_clock_half_48:before { content: "\eaed"; }
.s24-icons-s24_clock_quarter_24:before { content: "\eaee"; }
.s24-icons-s24_clock_quarter_48:before { content: "\eaef"; }
.s24-icons-s24_clock_three_quarter_24:before { content: "\eaf0"; }
.s24-icons-s24_clock_three_quarter_48:before { content: "\eaf1"; }
.s24-icons-s24_close_24:before { content: "\eaf2"; }
.s24-icons-s24_close_48:before { content: "\eaf3"; }
.s24-icons-s24_cloud_48:before { content: "\eaf4"; }
.s24-icons-s24_commode_24:before { content: "\eaf5"; }
.s24-icons-s24_commode_48:before { content: "\eaf6"; }
.s24-icons-s24_construction_helmet_24:before { content: "\eaf7"; }
.s24-icons-s24_construction_helmet_48:before { content: "\eaf8"; }
.s24-icons-s24_contrast_24:before { content: "\eaf9"; }
.s24-icons-s24_contrast_48:before { content: "\eafa"; }
.s24-icons-s24_couple_24:before { content: "\eafb"; }
.s24-icons-s24_couple_48:before { content: "\eafc"; }
.s24-icons-s24_crane_1_24:before { content: "\eafd"; }
.s24-icons-s24_crane_1_48:before { content: "\eafe"; }
.s24-icons-s24_crane_2_24:before { content: "\eaff"; }
.s24-icons-s24_crane_2_48:before { content: "\eb00"; }
.s24-icons-s24_crane_3_24:before { content: "\eb01"; }
.s24-icons-s24_crane_3_48:before { content: "\eb02"; }
.s24-icons-s24_credit_card_24:before { content: "\eb03"; }
.s24-icons-s24_credit_card_24_filled:before { content: "\eb04"; }
.s24-icons-s24_credit_card_48:before { content: "\eb05"; }
.s24-icons-s24_cross_24:before { content: "\eb06"; }
.s24-icons-s24_cross_48:before { content: "\eb07"; }
.s24-icons-s24_cross_circle_24:before { content: "\eb08"; }
.s24-icons-s24_cross_circle_24_filled:before { content: "\eb09"; }
.s24-icons-s24_cross_circle_48:before { content: "\eb0a"; }
.s24-icons-s24_crosshairs_24:before { content: "\eb0b"; }
.s24-icons-s24_crosshairs_48:before { content: "\eb0c"; }
.s24-icons-s24_cup_big_24:before { content: "\eb0d"; }
.s24-icons-s24_cup_big_48:before { content: "\eb0e"; }
.s24-icons-s24_cup_small_24:before { content: "\eb0f"; }
.s24-icons-s24_cup_small_48:before { content: "\eb10"; }
.s24-icons-s24_cup_small_alternative_48:before { content: "\eb11"; }
.s24-icons-s24_cutlery_24:before { content: "\eb12"; }
.s24-icons-s24_cutlery_48:before { content: "\eb13"; }
.s24-icons-s24_dashboard_24:before { content: "\eb14"; }
.s24-icons-s24_dashboard_24_filled:before { content: "\eb15"; }
.s24-icons-s24_dashboard_48:before { content: "\eb16"; }
.s24-icons-s24_dealer_24:before { content: "\eb17"; }
.s24-icons-s24_dealer_48:before { content: "\eb18"; }
.s24-icons-s24_distance_24:before { content: "\eb19"; }
.s24-icons-s24_distance_48:before { content: "\eb1a"; }
.s24-icons-s24_document_24:before { content: "\eb1b"; }
.s24-icons-s24_document_48:before { content: "\eb1c"; }
.s24-icons-s24_document_check_24:before { content: "\eb1d"; }
.s24-icons-s24_document_check_48:before { content: "\eb1e"; }
.s24-icons-s24_document_coin_stack_24:before { content: "\eb1f"; }
.s24-icons-s24_document_coin_stack_48:before { content: "\eb20"; }
.s24-icons-s24_document_house_24:before { content: "\eb21"; }
.s24-icons-s24_document_house_48:before { content: "\eb22"; }
.s24-icons-s24_document_lock_24:before { content: "\eb23"; }
.s24-icons-s24_document_lock_48:before { content: "\eb24"; }
.s24-icons-s24_document_pdf_24:before { content: "\eb25"; }
.s24-icons-s24_document_pdf_48:before { content: "\eb26"; }
.s24-icons-s24_document_pen_24:before { content: "\eb27"; }
.s24-icons-s24_document_pen_48:before { content: "\eb28"; }
.s24-icons-s24_document_plus_24:before { content: "\eb29"; }
.s24-icons-s24_document_plus_48:before { content: "\eb2a"; }
.s24-icons-s24_document_speaker_24:before { content: "\eb2b"; }
.s24-icons-s24_document_speaker_48:before { content: "\eb2c"; }
.s24-icons-s24_document_text_24:before { content: "\eb2d"; }
.s24-icons-s24_document_text_24_filled:before { content: "\eb2e"; }
.s24-icons-s24_document_text_48:before { content: "\eb2f"; }
.s24-icons-s24_dog_48:before { content: "\eb30"; }
.s24-icons-s24_door_24:before { content: "\eb31"; }
.s24-icons-s24_door_48:before { content: "\eb32"; }
.s24-icons-s24_download_24:before { content: "\eb33"; }
.s24-icons-s24_download_48:before { content: "\eb34"; }
.s24-icons-s24_download_disabled_24:before { content: "\eb35"; }
.s24-icons-s24_downloaded_24:before { content: "\eb36"; }
.s24-icons-s24_downsize_24:before { content: "\eb37"; }
.s24-icons-s24_downsize_48:before { content: "\eb38"; }
.s24-icons-s24_drop_check_24:before { content: "\eb39"; }
.s24-icons-s24_drop_check_48:before { content: "\eb3a"; }
.s24-icons-s24_drop_cross_24:before { content: "\eb3b"; }
.s24-icons-s24_drop_cross_48:before { content: "\eb3c"; }
.s24-icons-s24_duplicate_24:before { content: "\eb3d"; }
.s24-icons-s24_duplicate_48:before { content: "\eb3e"; }
.s24-icons-s24_ear_24:before { content: "\eb3f"; }
.s24-icons-s24_ear_48:before { content: "\eb40"; }
.s24-icons-s24_education_24:before { content: "\eb41"; }
.s24-icons-s24_education_48:before { content: "\eb42"; }
.s24-icons-s24_elevator_24:before { content: "\eb43"; }
.s24-icons-s24_elevator_48:before { content: "\eb44"; }
.s24-icons-s24_enlarge_24:before { content: "\eb45"; }
.s24-icons-s24_enlarge_48:before { content: "\eb46"; }
.s24-icons-s24_error_circle_24:before { content: "\eb47"; }
.s24-icons-s24_error_circle_24_filled:before { content: "\eb48"; }
.s24-icons-s24_error_circle_48:before { content: "\eb49"; }
.s24-icons-s24_euro_24:before { content: "\eb4a"; }
.s24-icons-s24_euro_48:before { content: "\eb4b"; }
.s24-icons-s24_euro_circle_24:before { content: "\eb4c"; }
.s24-icons-s24_euro_circle_48:before { content: "\eb4d"; }
.s24-icons-s24_exchange_24:before { content: "\eb4e"; }
.s24-icons-s24_exchange_48:before { content: "\eb4f"; }
.s24-icons-s24_exclamation_mark_24:before { content: "\eb50"; }
.s24-icons-s24_exclamation_mark_48:before { content: "\eb51"; }
.s24-icons-s24_expand_24:before { content: "\eb52"; }
.s24-icons-s24_expand_48:before { content: "\eb53"; }
.s24-icons-s24_eye_checkmark_24:before { content: "\eb54"; }
.s24-icons-s24_eye_closed_24:before { content: "\eb55"; }
.s24-icons-s24_eye_closed_48:before { content: "\eb56"; }
.s24-icons-s24_eye_opened_24:before { content: "\eb57"; }
.s24-icons-s24_eye_opened_24_filled:before { content: "\eb58"; }
.s24-icons-s24_eye_opened_48:before { content: "\eb59"; }
.s24-icons-s24_family_24:before { content: "\eb5a"; }
.s24-icons-s24_family_48:before { content: "\eb5b"; }
.s24-icons-s24_fence_24:before { content: "\eb5c"; }
.s24-icons-s24_fence_48:before { content: "\eb5d"; }
.s24-icons-s24_filter_24:before { content: "\eb5e"; }
.s24-icons-s24_filter_48:before { content: "\eb5f"; }
.s24-icons-s24_flash_24:before { content: "\eb60"; }
.s24-icons-s24_flash_48:before { content: "\eb61"; }
.s24-icons-s24_floor_plan_24:before { content: "\eb62"; }
.s24-icons-s24_floor_plan_48:before { content: "\eb63"; }
.s24-icons-s24_folder_24:before { content: "\eb64"; }
.s24-icons-s24_folder_24_filled:before { content: "\eb65"; }
.s24-icons-s24_folder_48:before { content: "\eb66"; }
.s24-icons-s24_forbidden_24:before { content: "\eb67"; }
.s24-icons-s24_forbidden_48:before { content: "\eb68"; }
.s24-icons-s24_fuel_24:before { content: "\eb69"; }
.s24-icons-s24_fuel_48:before { content: "\eb6a"; }
.s24-icons-s24_gas_pump_24:before { content: "\eb6b"; }
.s24-icons-s24_gas_pump_48:before { content: "\eb6c"; }
.s24-icons-s24_gear_24:before { content: "\eb6d"; }
.s24-icons-s24_gear_24_filled:before { content: "\eb6e"; }
.s24-icons-s24_gear_48:before { content: "\eb6f"; }
.s24-icons-s24_gearbox_24:before { content: "\eb70"; }
.s24-icons-s24_gearbox_48:before { content: "\eb71"; }
.s24-icons-s24_gift_24:before { content: "\eb72"; }
.s24-icons-s24_globe_24:before { content: "\eb73"; }
.s24-icons-s24_globe_48:before { content: "\eb74"; }
.s24-icons-s24_going_24:before { content: "\eb75"; }
.s24-icons-s24_going_48:before { content: "\eb76"; }
.s24-icons-s24_ground_floor_24:before { content: "\eb77"; }
.s24-icons-s24_ground_floor_48:before { content: "\eb78"; }
.s24-icons-s24_hand_arrows_48:before { content: "\eb79"; }
.s24-icons-s24_headlight_24:before { content: "\eb7a"; }
.s24-icons-s24_headlight_48:before { content: "\eb7b"; }
.s24-icons-s24_heart_24:before { content: "\eb7c"; }
.s24-icons-s24_heart_24_filled:before { content: "\eb7d"; }
.s24-icons-s24_heart_48:before { content: "\eb7e"; }
.s24-icons-s24_heart_magnifier_24:before { content: "\eb7f"; }
.s24-icons-s24_hourglass_24:before { content: "\eb80"; }
.s24-icons-s24_hourglass_48:before { content: "\eb81"; }
.s24-icons-s24_house_arrows_circle_48:before { content: "\eb82"; }
.s24-icons-s24_house_home_24:before { content: "\eb83"; }
.s24-icons-s24_house_home_48:before { content: "\eb84"; }
.s24-icons-s24_house_terrace_24:before { content: "\eb85"; }
.s24-icons-s24_house_terrace_48:before { content: "\eb86"; }
.s24-icons-s24_id_24:before { content: "\eb87"; }
.s24-icons-s24_id_48:before { content: "\eb88"; }
.s24-icons-s24_in_app_24:before { content: "\eb89"; }
.s24-icons-s24_in_app_48:before { content: "\eb8a"; }
.s24-icons-s24_info_circle_24:before { content: "\eb8b"; }
.s24-icons-s24_info_circle_24_filled:before { content: "\eb8c"; }
.s24-icons-s24_info_circle_48:before { content: "\eb8d"; }
.s24-icons-s24_internet_24:before { content: "\eb8e"; }
.s24-icons-s24_internet_48:before { content: "\eb8f"; }
.s24-icons-s24_key_24:before { content: "\eb90"; }
.s24-icons-s24_key_48:before { content: "\eb91"; }
.s24-icons-s24_lamp_24:before { content: "\eb92"; }
.s24-icons-s24_lamp_48:before { content: "\eb93"; }
.s24-icons-s24_leaf_24:before { content: "\eb94"; }
.s24-icons-s24_leaf_48:before { content: "\eb95"; }
.s24-icons-s24_letter_24:before { content: "\eb96"; }
.s24-icons-s24_letter_48:before { content: "\eb97"; }
.s24-icons-s24_letter_bubble_24:before { content: "\eb98"; }
.s24-icons-s24_letter_bubble_24_filled:before { content: "\eb99"; }
.s24-icons-s24_letter_bubble_48:before { content: "\eb9a"; }
.s24-icons-s24_letter_cross_24:before { content: "\eb9b"; }
.s24-icons-s24_letter_cross_48:before { content: "\eb9c"; }
.s24-icons-s24_letter_open_24:before { content: "\eb9d"; }
.s24-icons-s24_letter_open_48:before { content: "\eb9e"; }
.s24-icons-s24_letter_sent_24:before { content: "\eb9f"; }
.s24-icons-s24_letter_sent_48:before { content: "\eba0"; }
.s24-icons-s24_lifesaver_24:before { content: "\eba1"; }
.s24-icons-s24_lifesaver_48:before { content: "\eba2"; }
.s24-icons-s24_lightbulb_24:before { content: "\eba3"; }
.s24-icons-s24_lightbulb_48:before { content: "\eba4"; }
.s24-icons-s24_link_24:before { content: "\eba5"; }
.s24-icons-s24_link_48:before { content: "\eba6"; }
.s24-icons-s24_list_24:before { content: "\eba7"; }
.s24-icons-s24_list_2_24:before { content: "\eba8"; }
.s24-icons-s24_list_2_24_filled:before { content: "\eba9"; }
.s24-icons-s24_list_2_48:before { content: "\ebaa"; }
.s24-icons-s24_list_3_24:before { content: "\ebab"; }
.s24-icons-s24_list_3_24_filled:before { content: "\ebac"; }
.s24-icons-s24_list_3_48:before { content: "\ebad"; }
.s24-icons-s24_list_48:before { content: "\ebae"; }
.s24-icons-s24_location_pin_1_24:before { content: "\ebaf"; }
.s24-icons-s24_location_pin_1_24_filled:before { content: "\ebb0"; }
.s24-icons-s24_location_pin_1_48:before { content: "\ebb1"; }
.s24-icons-s24_location_pin_2_24:before { content: "\ebb2"; }
.s24-icons-s24_location_pin_2_48:before { content: "\ebb3"; }
.s24-icons-s24_location_pin_magnifier_24:before { content: "\ebb4"; }
.s24-icons-s24_location_pin_magnifier_48:before { content: "\ebb5"; }
.s24-icons-s24_location_radius_24:before { content: "\ebb6"; }
.s24-icons-s24_location_radius_24_filled:before { content: "\ebb7"; }
.s24-icons-s24_location_radius_48:before { content: "\ebb8"; }
.s24-icons-s24_lock_close_24:before { content: "\ebb9"; }
.s24-icons-s24_lock_close_24_filled:before { content: "\ebba"; }
.s24-icons-s24_lock_close_48:before { content: "\ebbb"; }
.s24-icons-s24_lock_open_24:before { content: "\ebbc"; }
.s24-icons-s24_lock_open_24_filled:before { content: "\ebbd"; }
.s24-icons-s24_lock_open_48:before { content: "\ebbe"; }
.s24-icons-s24_loft_24:before { content: "\ebbf"; }
.s24-icons-s24_loft_24_filled:before { content: "\ebc0"; }
.s24-icons-s24_loft_48:before { content: "\ebc1"; }
.s24-icons-s24_luggage_24:before { content: "\ebc2"; }
.s24-icons-s24_luggage_48:before { content: "\ebc3"; }
.s24-icons-s24_magazine_24:before { content: "\ebc4"; }
.s24-icons-s24_magazine_48:before { content: "\ebc5"; }
.s24-icons-s24_magnifier_24:before { content: "\ebc6"; }
.s24-icons-s24_magnifier_24_filled:before { content: "\ebc7"; }
.s24-icons-s24_magnifier_48:before { content: "\ebc8"; }
.s24-icons-s24_magnifier_euro_24:before { content: "\ebc9"; }
.s24-icons-s24_magnifier_euro_48:before { content: "\ebca"; }
.s24-icons-s24_magnifier_user_24:before { content: "\ebcb"; }
.s24-icons-s24_magnifier_user_48:before { content: "\ebcc"; }
.s24-icons-s24_maisonette_24:before { content: "\ebcd"; }
.s24-icons-s24_maisonette_48:before { content: "\ebce"; }
.s24-icons-s24_man_24:before { content: "\ebcf"; }
.s24-icons-s24_man_48:before { content: "\ebd0"; }
.s24-icons-s24_map_24:before { content: "\ebd1"; }
.s24-icons-s24_map_24_filled:before { content: "\ebd2"; }
.s24-icons-s24_map_48:before { content: "\ebd3"; }
.s24-icons-s24_map_euro_24:before { content: "\ebd4"; }
.s24-icons-s24_map_euro_48:before { content: "\ebd5"; }
.s24-icons-s24_map_magnifier_24:before { content: "\ebd6"; }
.s24-icons-s24_map_magnifier_48:before { content: "\ebd7"; }
.s24-icons-s24_medal_24:before { content: "\ebd8"; }
.s24-icons-s24_medal_24_filled:before { content: "\ebd9"; }
.s24-icons-s24_medal_48:before { content: "\ebda"; }
.s24-icons-s24_menu_burger_24:before { content: "\ebdb"; }
.s24-icons-s24_menu_burger_48:before { content: "\ebdc"; }
.s24-icons-s24_menu_sub_24:before { content: "\ebdd"; }
.s24-icons-s24_menu_sub_48:before { content: "\ebde"; }
.s24-icons-s24_minus_24:before { content: "\ebdf"; }
.s24-icons-s24_minus_48:before { content: "\ebe0"; }
.s24-icons-s24_minus_circle_24:before { content: "\ebe1"; }
.s24-icons-s24_minus_circle_24_filled:before { content: "\ebe2"; }
.s24-icons-s24_minus_circle_48:before { content: "\ebe3"; }
.s24-icons-s24_mobile_24:before { content: "\ebe4"; }
.s24-icons-s24_mobile_24_filled:before { content: "\ebe5"; }
.s24-icons-s24_mobile_48:before { content: "\ebe6"; }
.s24-icons-s24_mobile_car_24:before { content: "\ebe7"; }
.s24-icons-s24_mobile_car_48:before { content: "\ebe8"; }
.s24-icons-s24_mobile_heart_24:before { content: "\ebe9"; }
.s24-icons-s24_mobile_heart_48:before { content: "\ebea"; }
.s24-icons-s24_mobile_house_24:before { content: "\ebeb"; }
.s24-icons-s24_mobile_house_48:before { content: "\ebec"; }
.s24-icons-s24_mobile_settings_24:before { content: "\ebed"; }
.s24-icons-s24_mobile_settings_48:before { content: "\ebee"; }
.s24-icons-s24_mobile_share_24:before { content: "\ebef"; }
.s24-icons-s24_mobile_share_48:before { content: "\ebf0"; }
.s24-icons-s24_mobile_speaker_24:before { content: "\ebf1"; }
.s24-icons-s24_mobile_speaker_48:before { content: "\ebf2"; }
.s24-icons-s24_money_house_24:before { content: "\ebf3"; }
.s24-icons-s24_money_house_48:before { content: "\ebf4"; }
.s24-icons-s24_monitor_24:before { content: "\ebf5"; }
.s24-icons-s24_monitor_48:before { content: "\ebf6"; }
.s24-icons-s24_monitor_user_24:before { content: "\ebf7"; }
.s24-icons-s24_monitor_user_48:before { content: "\ebf8"; }
.s24-icons-s24_motorcycle_front_24:before { content: "\ebf9"; }
.s24-icons-s24_motorcycle_front_48:before { content: "\ebfa"; }
.s24-icons-s24_motorcycle_side_24:before { content: "\ebfb"; }
.s24-icons-s24_motorcycle_side_48:before { content: "\ebfc"; }
.s24-icons-s24_mouse_navigation_24:before { content: "\ebfd"; }
.s24-icons-s24_mouse_navigation_48:before { content: "\ebfe"; }
.s24-icons-s24_movie_24:before { content: "\ebff"; }
.s24-icons-s24_movie_48:before { content: "\ec00"; }
.s24-icons-s24_newsletter_24:before { content: "\ec01"; }
.s24-icons-s24_newsletter_48:before { content: "\ec02"; }
.s24-icons-s24_notebook_24:before { content: "\ec03"; }
.s24-icons-s24_notebook_48:before { content: "\ec04"; }
.s24-icons-s24_paint_roller_24:before { content: "\ec05"; }
.s24-icons-s24_paint_roller_24_filled:before { content: "\ec06"; }
.s24-icons-s24_paint_roller_48:before { content: "\ec07"; }
.s24-icons-s24_paperclip_24:before { content: "\ec08"; }
.s24-icons-s24_paperclip_48:before { content: "\ec09"; }
.s24-icons-s24_paperplane_24:before { content: "\ec0a"; }
.s24-icons-s24_paperplane_48:before { content: "\ec0b"; }
.s24-icons-s24_parking_sign_24:before { content: "\ec0c"; }
.s24-icons-s24_parking_sign_48:before { content: "\ec0d"; }
.s24-icons-s24_pen_24:before { content: "\ec0e"; }
.s24-icons-s24_pen_24_filled:before { content: "\ec0f"; }
.s24-icons-s24_pen_48:before { content: "\ec10"; }
.s24-icons-s24_pen_line_24:before { content: "\ec11"; }
.s24-icons-s24_pen_line_24_filled:before { content: "\ec12"; }
.s24-icons-s24_pen_line_48:before { content: "\ec13"; }
.s24-icons-s24_pen_rectangle_24:before { content: "\ec14"; }
.s24-icons-s24_pen_rectangle_24_filled:before { content: "\ec15"; }
.s24-icons-s24_pen_rectangle_48:before { content: "\ec16"; }
.s24-icons-s24_pen_ruler_24:before { content: "\ec17"; }
.s24-icons-s24_pen_ruler_48:before { content: "\ec18"; }
.s24-icons-s24_percent_24:before { content: "\ec19"; }
.s24-icons-s24_percent_24_filled:before { content: "\ec1a"; }
.s24-icons-s24_percent_48:before { content: "\ec1b"; }
.s24-icons-s24_percent_circle_24:before { content: "\ec1c"; }
.s24-icons-s24_percent_circle_48:before { content: "\ec1d"; }
.s24-icons-s24_pharmacy_24:before { content: "\ec1e"; }
.s24-icons-s24_pharmacy_48:before { content: "\ec1f"; }
.s24-icons-s24_picture_24:before { content: "\ec20"; }
.s24-icons-s24_picture_48:before { content: "\ec21"; }
.s24-icons-s24_piggy_bank_24:before { content: "\ec22"; }
.s24-icons-s24_piggy_bank_48:before { content: "\ec23"; }
.s24-icons-s24_pin_24:before { content: "\ec24"; }
.s24-icons-s24_pin_24_filled:before { content: "\ec25"; }
.s24-icons-s24_pin_48:before { content: "\ec26"; }
.s24-icons-s24_plus_24:before { content: "\ec27"; }
.s24-icons-s24_plus_48:before { content: "\ec28"; }
.s24-icons-s24_plus_circle_24:before { content: "\ec29"; }
.s24-icons-s24_plus_circle_24_filled:before { content: "\ec2a"; }
.s24-icons-s24_plus_circle_48:before { content: "\ec2b"; }
.s24-icons-s24_plus_membership_24:before { content: "\ec2c"; }
.s24-icons-s24_plus_membership_48:before { content: "\ec2d"; }
.s24-icons-s24_pot_24:before { content: "\ec2e"; }
.s24-icons-s24_pot_24_filled:before { content: "\ec2f"; }
.s24-icons-s24_pot_48:before { content: "\ec30"; }
.s24-icons-s24_price_tag_24:before { content: "\ec31"; }
.s24-icons-s24_price_tag_48:before { content: "\ec32"; }
.s24-icons-s24_printer_24:before { content: "\ec33"; }
.s24-icons-s24_printer_24_filled:before { content: "\ec34"; }
.s24-icons-s24_printer_48:before { content: "\ec35"; }
.s24-icons-s24_question_mark_24:before { content: "\ec36"; }
.s24-icons-s24_question_mark_48:before { content: "\ec37"; }
.s24-icons-s24_question_mark_circle_24:before { content: "\ec38"; }
.s24-icons-s24_question_mark_circle_24_filled:before { content: "\ec39"; }
.s24-icons-s24_question_mark_circle_48:before { content: "\ec3a"; }
.s24-icons-s24_quotation_marks_close_24:before { content: "\ec3b"; }
.s24-icons-s24_quotation_marks_close_48:before { content: "\ec3c"; }
.s24-icons-s24_quotation_marks_open_24:before { content: "\ec3d"; }
.s24-icons-s24_quotation_marks_open_48:before { content: "\ec3e"; }
.s24-icons-s24_radio_24:before { content: "\ec3f"; }
.s24-icons-s24_radio_24_filled:before { content: "\ec40"; }
.s24-icons-s24_radio_48:before { content: "\ec41"; }
.s24-icons-s24_reply_24:before { content: "\ec42"; }
.s24-icons-s24_reply_48:before { content: "\ec43"; }
.s24-icons-s24_reply_all_24:before { content: "\ec44"; }
.s24-icons-s24_reply_all_48:before { content: "\ec45"; }
.s24-icons-s24_rescale_up_24:before { content: "\ec46"; }
.s24-icons-s24_rescale_up_48:before { content: "\ec47"; }
.s24-icons-s24_scale_24:before { content: "\ec48"; }
.s24-icons-s24_scale_48:before { content: "\ec49"; }
.s24-icons-s24_seats_24:before { content: "\ec4a"; }
.s24-icons-s24_seats_48:before { content: "\ec4b"; }
.s24-icons-s24_shapes_24:before { content: "\ec4c"; }
.s24-icons-s24_shapes_48:before { content: "\ec4d"; }
.s24-icons-s24_share_24:before { content: "\ec4e"; }
.s24-icons-s24_share_24_filled:before { content: "\ec4f"; }
.s24-icons-s24_share_48:before { content: "\ec50"; }
.s24-icons-s24_shield_checkmark_24:before { content: "\ec51"; }
.s24-icons-s24_shield_checkmark_48:before { content: "\ec52"; }
.s24-icons-s24_shopping_bag_48:before { content: "\ec53"; }
.s24-icons-s24_shopping_basket_24:before { content: "\ec54"; }
.s24-icons-s24_shopping_basket_48:before { content: "\ec55"; }
.s24-icons-s24_shopping_trolley_24:before { content: "\ec56"; }
.s24-icons-s24_smiley_negative_24:before { content: "\ec57"; }
.s24-icons-s24_smiley_negative_24_filled:before { content: "\ec58"; }
.s24-icons-s24_smiley_negative_48:before { content: "\ec59"; }
.s24-icons-s24_smiley_neutral_24:before { content: "\ec5a"; }
.s24-icons-s24_smiley_neutral_24_filled:before { content: "\ec5b"; }
.s24-icons-s24_smiley_neutral_48:before { content: "\ec5c"; }
.s24-icons-s24_smiley_positive_24:before { content: "\ec5d"; }
.s24-icons-s24_smiley_positive_24_filled:before { content: "\ec5e"; }
.s24-icons-s24_smiley_positive_48:before { content: "\ec5f"; }
.s24-icons-s24_smiley_very_negative_24:before { content: "\ec60"; }
.s24-icons-s24_smiley_very_positive_24:before { content: "\ec61"; }
.s24-icons-s24_snowflake_24:before { content: "\ec62"; }
.s24-icons-s24_snowflake_48:before { content: "\ec63"; }
.s24-icons-s24_solar_panel_24:before { content: "\ec64"; }
.s24-icons-s24_solar_panel_48:before { content: "\ec65"; }
.s24-icons-s24_sound_24:before { content: "\ec66"; }
.s24-icons-s24_sound_24_filled:before { content: "\ec67"; }
.s24-icons-s24_sound_48:before { content: "\ec68"; }
.s24-icons-s24_space_arrow_24:before { content: "\ec69"; }
.s24-icons-s24_space_arrow_48:before { content: "\ec6a"; }
.s24-icons-s24_space_dwelling_24:before { content: "\ec6b"; }
.s24-icons-s24_space_dwelling_48:before { content: "\ec6c"; }
.s24-icons-s24_space_euro_24:before { content: "\ec6d"; }
.s24-icons-s24_space_euro_48:before { content: "\ec6e"; }
.s24-icons-s24_space_living_24:before { content: "\ec6f"; }
.s24-icons-s24_space_living_48:before { content: "\ec70"; }
.s24-icons-s24_space_magnifier_big_24:before { content: "\ec71"; }
.s24-icons-s24_space_magnifier_big_48:before { content: "\ec72"; }
.s24-icons-s24_space_magnifier_small_24:before { content: "\ec73"; }
.s24-icons-s24_space_magnifier_small_48:before { content: "\ec74"; }
.s24-icons-s24_space_user_24:before { content: "\ec75"; }
.s24-icons-s24_space_user_48:before { content: "\ec76"; }
.s24-icons-s24_speaker_24:before { content: "\ec77"; }
.s24-icons-s24_speaker_48:before { content: "\ec78"; }
.s24-icons-s24_stand_24:before { content: "\ec79"; }
.s24-icons-s24_stand_48:before { content: "\ec7a"; }
.s24-icons-s24_star_24:before { content: "\ec7b"; }
.s24-icons-s24_star_24_filled:before { content: "\ec7c"; }
.s24-icons-s24_star_24_half:before { content: "\ec7d"; }
.s24-icons-s24_star_48:before { content: "\ec7e"; }
.s24-icons-s24_star_48_filled:before { content: "\ec7f"; }
.s24-icons-s24_star_48_half:before { content: "\ec80"; }
.s24-icons-s24_stethoscope_24:before { content: "\ec81"; }
.s24-icons-s24_stethoscope_48:before { content: "\ec82"; }
.s24-icons-s24_stopwatch_24:before { content: "\ec83"; }
.s24-icons-s24_stopwatch_48:before { content: "\ec84"; }
.s24-icons-s24_subway_24:before { content: "\ec85"; }
.s24-icons-s24_subway_48:before { content: "\ec86"; }
.s24-icons-s24_sun_24:before { content: "\ec87"; }
.s24-icons-s24_sun_24_filled:before { content: "\ec88"; }
.s24-icons-s24_sun_48:before { content: "\ec89"; }
.s24-icons-s24_t_shirt_24:before { content: "\ec8a"; }
.s24-icons-s24_tablet_24:before { content: "\ec8b"; }
.s24-icons-s24_tablet_48:before { content: "\ec8c"; }
.s24-icons-s24_target_24:before { content: "\ec8d"; }
.s24-icons-s24_target_2_48:before { content: "\ec8e"; }
.s24-icons-s24_target_48:before { content: "\ec8f"; }
.s24-icons-s24_target_flag_24:before { content: "\ec90"; }
.s24-icons-s24_target_flag_48:before { content: "\ec91"; }
.s24-icons-s24_taxi_24:before { content: "\ec92"; }
.s24-icons-s24_taxi_48:before { content: "\ec93"; }
.s24-icons-s24_telephone_24:before { content: "\ec94"; }
.s24-icons-s24_telephone_24_filled:before { content: "\ec95"; }
.s24-icons-s24_telephone_48:before { content: "\ec96"; }
.s24-icons-s24_text_24:before { content: "\ec97"; }
.s24-icons-s24_text_48:before { content: "\ec98"; }
.s24-icons-s24_text_aligned_left_24:before { content: "\ec99"; }
.s24-icons-s24_text_aligned_left_48:before { content: "\ec9a"; }
.s24-icons-s24_thumb_down_24:before { content: "\ec9b"; }
.s24-icons-s24_thumb_down_48:before { content: "\ec9c"; }
.s24-icons-s24_thump_up_24:before { content: "\ec9d"; }
.s24-icons-s24_thump_up_48:before { content: "\ec9e"; }
.s24-icons-s24_timer_24:before { content: "\ec9f"; }
.s24-icons-s24_timer_48:before { content: "\eca0"; }
.s24-icons-s24_train_24:before { content: "\eca1"; }
.s24-icons-s24_train_48:before { content: "\eca2"; }
.s24-icons-s24_tram_24:before { content: "\eca3"; }
.s24-icons-s24_tram_48:before { content: "\eca4"; }
.s24-icons-s24_tree_24:before { content: "\eca5"; }
.s24-icons-s24_tree_48:before { content: "\eca6"; }
.s24-icons-s24_trolley_24:before { content: "\eca7"; }
.s24-icons-s24_trolley_48:before { content: "\eca8"; }
.s24-icons-s24_trophy_24:before { content: "\eca9"; }
.s24-icons-s24_trophy_48:before { content: "\ecaa"; }
.s24-icons-s24_truck_side_24:before { content: "\ecab"; }
.s24-icons-s24_truck_side_48:before { content: "\ecac"; }
.s24-icons-s24_truck_side_moving_24:before { content: "\ecad"; }
.s24-icons-s24_truck_side_moving_48:before { content: "\ecae"; }
.s24-icons-s24_umbrella_24:before { content: "\ecaf"; }
.s24-icons-s24_umbrella_48:before { content: "\ecb0"; }
.s24-icons-s24_upload_24:before { content: "\ecb1"; }
.s24-icons-s24_upload_48:before { content: "\ecb2"; }
.s24-icons-s24_user_24:before { content: "\ecb3"; }
.s24-icons-s24_user_24_filled:before { content: "\ecb4"; }
.s24-icons-s24_user_48:before { content: "\ecb5"; }
.s24-icons-s24_user_checkmark_24:before { content: "\ecb6"; }
.s24-icons-s24_user_checkmark_48:before { content: "\ecb7"; }
.s24-icons-s24_user_cross_24:before { content: "\ecb8"; }
.s24-icons-s24_user_cross_48:before { content: "\ecb9"; }
.s24-icons-s24_user_euro_24:before { content: "\ecba"; }
.s24-icons-s24_user_euro_48:before { content: "\ecbb"; }
.s24-icons-s24_user_focus_24:before { content: "\ecbc"; }
.s24-icons-s24_user_focus_48:before { content: "\ecbd"; }
.s24-icons-s24_user_network_48:before { content: "\ecbe"; }
.s24-icons-s24_user_plus_24:before { content: "\ecbf"; }
.s24-icons-s24_user_plus_48:before { content: "\ecc0"; }
.s24-icons-s24_user_speaker_24:before { content: "\ecc1"; }
.s24-icons-s24_user_speaker_48:before { content: "\ecc2"; }
.s24-icons-s24_user_tie_24:before { content: "\ecc3"; }
.s24-icons-s24_user_tie_48:before { content: "\ecc4"; }
.s24-icons-s24_users_three_24:before { content: "\ecc5"; }
.s24-icons-s24_users_three_48:before { content: "\ecc6"; }
.s24-icons-s24_users_two_24:before { content: "\ecc7"; }
.s24-icons-s24_users_two_48:before { content: "\ecc8"; }
.s24-icons-s24_water_24:before { content: "\ecc9"; }
.s24-icons-s24_water_48:before { content: "\ecca"; }
.s24-icons-s24_watering_can_24:before { content: "\eccb"; }
.s24-icons-s24_watering_can_24_filled:before { content: "\eccc"; }
.s24-icons-s24_watering_can_48:before { content: "\eccd"; }
.s24-icons-s24_wedding_rings_24:before { content: "\ecce"; }
.s24-icons-s24_wedding_rings_48:before { content: "\eccf"; }
.s24-icons-s24_werkstattportal_24:before { content: "\ecd0"; }
.s24-icons-s24_werkstattportal_48:before { content: "\ecd1"; }
.s24-icons-s24_wheel_24:before { content: "\ecd2"; }
.s24-icons-s24_wheel_48:before { content: "\ecd3"; }
.s24-icons-s24_wheelchair_24:before { content: "\ecd4"; }
.s24-icons-s24_wheelchair_48:before { content: "\ecd5"; }
.s24-icons-s24_woman_24:before { content: "\ecd6"; }
.s24-icons-s24_woman_48:before { content: "\ecd7"; }
.s24-icons-s24_writing_pad_24:before { content: "\ecd8"; }
.s24-icons-s24_writing_pad_24_filled:before { content: "\ecd9"; }
.s24-icons-s24_writing_pad_48:before { content: "\ecda"; }
.s24-icons-twitter_16:before { content: "\ecdb"; }
.s24-icons-twitter_16_filled:before { content: "\ecdc"; }
.s24-icons-twitter_24:before { content: "\ecdd"; }
.s24-icons-twitter_24_filled:before { content: "\ecde"; }
.s24-icons-twitter_48:before { content: "\ecdf"; }
.s24-icons-twitter_48_filled:before { content: "\ece0"; }
.s24-icons-whatsapp_16:before { content: "\ece1"; }
.s24-icons-whatsapp_16_filled:before { content: "\ece2"; }
.s24-icons-whatsapp_24:before { content: "\ece3"; }
.s24-icons-whatsapp_24_filled:before { content: "\ece4"; }
.s24-icons-whatsapp_48:before { content: "\ece5"; }
.s24-icons-whatsapp_48_filled:before { content: "\ece6"; }
.s24-icons-xing_16:before { content: "\ece7"; }
.s24-icons-xing_16_filled:before { content: "\ece8"; }
.s24-icons-xing_24:before { content: "\ece9"; }
.s24-icons-xing_24_filled:before { content: "\ecea"; }
.s24-icons-xing_48:before { content: "\eceb"; }
.s24-icons-xing_48_filled:before { content: "\ecec"; }
.s24-icons-youtube_16:before { content: "\eced"; }
.s24-icons-youtube_16_filled:before { content: "\ecee"; }
.s24-icons-youtube_24:before { content: "\ecef"; }
.s24-icons-youtube_24_filled:before { content: "\ecf0"; }
.s24-icons-youtube_48:before { content: "\ecf1"; }
.s24-icons-youtube_48_filled:before { content: "\ecf2"; }
